/***** SPACING *****/

$space-s:       0.5rem;
$space-m:       1rem;
$space-l:       1.5rem;

/***** COLORS *****/

$black:				#000;
$white:				#fff;
$light-gray:		#eeeeee;
$light-gray-alt:	#f8f8f8;
$gray:				#666666;
$dark-gray:			#222222;

$text-color:		#333333;
$meta-gray:			#888888;

$border-color:		#cccccc;
$disabled-gray:		#cfcfcf;

$orange:            #ffa200;
$light-orange:      #fdbc04;
$blue:				#00285c;
$light-blue:		#239ec2;
$green:             #a2df00;
$light-green:       #b9ff00;
$pink:				#b22d2d;

$main-color:		$light-blue;
$alt-color:			$light-orange;

$link-color:		$light-blue;
$link-hover:		$blue;

/***** FONT *****/

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;

$font-s:    0.75rem;
$font-m:    1rem;
$font-l:    1.25rem;