@import 'assets/styles/common/variables';

.Menu{
    display: flex;
    flex: 0 1 auto;
    flex-basis: 40%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;

    &-button{
        position: relative;
        width: 20px;
        height: 16px;
        margin-left: $space-s;
        border: 0;
        border-top: 3px solid $text-color;
        border-bottom: 3px solid $text-color;
        background: transparent;
        cursor: pointer;
        outline: 0;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 3px;
            background: $text-color;
            transform: translate(-50%, -50%);
            transition: transform ease-in-out .15s;
        }

        &--expanded{
            border-color: transparent;

            &:before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &:after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }

    nav{
        ul{
            margin: 0;
            li{
                float: left;
                margin: 0 $space-s;
                list-style: none;
                a{
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
    }
}
